{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.0/css/fixedHeader.dataTables.min.css">

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        {% block style %}
        {% endblock %}

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class="header">
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'usersDashboard' %}">
                        <span class="font-weight-bold"><big>Horoscope TG Bot</big></span>
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            {% if request.user.is_authenticated and request.user.is_superuser %}

                                <li class="nav-item">
                                    {% url 'usersDashboard' as dashboard_url %}
                                    <a class="nav-link {% if dashboard_url == request.path %}active{% endif %}"
                                       href="{{ dashboard_url }}">Dashboard</a>
                                </li>

                            {% endif %}

                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <div>
            <br><br><br><br><br>

            {% block content %}
            {% endblock %}
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
                integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
                crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        <script type="text/javascript"
                charset="utf8"
                src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

        <script type="text/javascript"
                charset="utf8"
                src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">
        </script>

        <script type="text/javascript"
                charset="utf8"
                src="https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js">
        </script>

        {% block script %}
        {% endblock %}

    </body>
</html>