{% extends 'bot/base.html' %}
{% load static %}

{% block title %}
    Users Dashboard
{% endblock %}

{% block content %}
    <div>

        <div class="container">
            {% autoescape off %}
                {{ html_table }}
            {% endautoescape %}
        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#usersDashboardTable').DataTable({
                "fixedHeader": {
                    'header': true,
                    'footer': false,
                    'headerOffset': 75
                },
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
                {#"processing": true,#}
                {#"serverSide": true,#}
                {#"ajax": "{% url 'coinsDashboardAjax' %}",#}
                {#"columns": [#}
                {#    { "data": "index" },#}
                {#    { "data": "username"},#}
                {#    { "data": "total_requests" }#}
                {#],#}
                "order": [[6, 'desc']],
                "pageLength": 50
            });

        } );
    </script>
{% endblock %}
